#fullScreener_Bar{
	position:fixed;
	left:50%;
	top:0;
	box-sizing: border-box;
  padding: 8px;
  width: 320px;
	height:80px;
  margin-left: -160px;
	line-height: 64px;
  text-align: center;
	-webkit-transition: top 400ms linear;
	transition: top 400ms linear;
  z-index:10001;
}
#fullScreener_Bar .backGrd{
  position: absolute;
  top: 0;
  left: 0;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.7;
}

#fullScreener_tabPanel{
	display:none;
}


/* Buttons */
#fullScreener_back{
  position: relative;
	display: inline-block;
  vertical-align: top;
	width:64px;
	height:64px;
	cursor:pointer;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAA5ElEQVR4nO2asW0DMQwAbwAP8Cuk8wjZNAO48AgpMoRLPkBWWsJpIsBFUr4VmHeAet4Jr+JBEBEREflHRMQWEdvqOZYQEVtm3jLz1i5CVZ0z85qZ95/zmZnvq+d6Cg83f388VfWxerbD+eXm57lW1Xn1fIeivPLKK6+88sq/Lsorr7zyyiuv/OvSWn6McfrjN9bXGOO0er5D2ff9LTMvLW8eDAA0/wQmrR/BiREwAmAEwAiAEQAjAEYAjAAYATACYATACIARACMARgCMABgBaL4oOWm9KjtpvSw9ab0uLyIiIk/jGx1xtReDeMmOAAAAAElFTkSuQmCC") left top no-repeat;
}
#fullScreener_back.unactive{
	opacity:0.3;
	cursor:default;
}
#fullScreener_forward{
	position: relative;
	display: inline-block;
  vertical-align: top;
	width:64px;
	height:64px;
  margin-left: 4px;
	cursor:pointer;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAA1UlEQVR4nO2asY3CUBAFpwAKoAACLqME+iWgBIIr4sJv6a2E5CZMAgki5YzYGcn5zmjtwFoQEREReSNJdvM8b9aeYxXGGPsk16r6bRchyTHJJclyf85VdVh7rn/jSX5JsrTahKo6JDk/R2i1CUbACIARACMARgCMABgBMAJgBMAIgBEAIwBGAIwAGAEwAmAEAMYY2yR//l57vQmnaZp+1p7v7bQO0PoVaP0RVF555ZVXXnnlvxfllVdeeeWVV/57aS0PHkp6KgvNj6UfpPO5vIiIiHwsNxDktdEyBc/PAAAAAElFTkSuQmCC") left top no-repeat;
}
#fullScreener_forward.unactive{
	opacity:0.3;
	cursor:default;
}
#fullScreener_reload{
	position: relative;
	display: inline-block;
  vertical-align: top;
	width:64px;
	height:64px;
  margin-left: 4px;
	cursor:pointer;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAADh0lEQVR4nO2bvU4bQRDHr6BIQUGkRFBQBReREt4gkdxGSpECKZHSUiA+/QAgFxQpeQQXFDyEiyshUiJIGjqvZv5zNlz4KChSUJCCFToNdwd2bvc42z9py/V/Zj9n58ZBMGbMmDElQEQLRLRQth2lQEQLAK4BXI/cIDDzEoAegBvbTpl5uWy7vCEiSwBOEwNwAyBm5pWybfMGMy8DiNUg/AGwWrZt3oiiaAXAmRqEMwBrZdvmDQBrAM7VIJwT0XrZtnmDiDYAXCYHgZkviGijbNsKRURmmXlJRFoi0gZwDOBKzX6yVf+KNMbMiMg2gMMcR/NaNQeBmeeYecvO8iCO3x2KlYsRmPmTCnQGbdWbfWbezHHor937iwDqAGpxHE/asLjazodhOAFgN8PxHhE14jie1P0Sb4LqOh8EQZDh/DWApjFmKq3P0Difsex/Afia02c4QmF74N1b8saY11l9hmnm5wAcKEd+A/jwQL/heA4DaKbs+fpj+lY+IWKMmYGK3wE0+/mNolNixphnRf3Wg9jwVu/71NPekz07RNTwJggV23sVV4jIjrVj35fgrI7w0oIcH0RR9E3ZUnMuak/xO1ERaTsXzUBE9pK2MPOmD9GWGvVF56IZ6MkAsOtc1D5okqJ156IZMPNbZUvoQ/SnEp13LpoBEb1Sthw5FwXQTYp2Op1p56IZENFzdQacOBdVYexNr9d76Vw0g06nM60GoOtcFMCRigHeOBfNtmVe3Ug/fIiGT+UQxG1mye+VDJX8KDMKTIlJWs5F9StQRPaci2agr2RmXnIuCqCmtkApWZw4jiehEisiMutFHMB+2cufiBpqIg69ipfpvDFmSl/HIrLtzYAwDCeK+q1BEiMp2ajLbrf7oiibvDFIaoyI3um97+UVWDQ2NZ4slek9dIoz83sA39XsHzDznC+7C2GQ1LhNxNz72EpEH33a/t8AWMXtR5CkI3FeapyZP6fMfPWWfr8zb0/7ZkofP8mPIunHefvVuKGvuqTzRd5Ezslz3kZ0NQB1W0LTzpjxai57Zv6S51AfrVe5A89edboWsN92zMxblbvqgiBz6T+2HYrIdiUjvCSP2AJXAI5FpC0iLXsO+HnV+cIWQ14oxy+HrhgyDwDrSCmLxQjWBt8rkI6iaHRK5QcJhYcOZl6BKpISkRMRcZ/TeyoM8hweOipfK1QEI/33uTFjxpTOP7uZSLJcGBWOAAAAAElFTkSuQmCC") left top no-repeat;
}
#fullScreener_reload.unactive{
	opacity:0.3;
	cursor:default;
}
#fullScreener_home{
	position: relative;
	display: inline-block;
  vertical-align: top;
	width:64px;
	height:64px;
  margin-left: 4px;
	cursor:pointer;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABTklEQVR4nO2YwQ2DMBAEKSYFpIQUQQkpIJ2kxtP6TwE8yMdKFGQDNsZ3hl3JnySKZ0fGSNd1DMMwjE5EpBeRXptDJQCeAEYA4+UkiMgLwABg8msQkZc2V5UEyl9HwkL580vw5eeFx9Bnp7sTYuX9WyD6nTZ3kUSO/d9R3/KbJpNS7HQScgqdRsKeIs1LKFGgWQklwZuTcARwMxKOBDUvoQagWQk1wcxJ0AAyI0ETRF2COoAmg4XyaiyWyldnsli+GltkYDFZGlgcNlRZmuEVYi+WEOOuk7A2wCzMvzsxziwJG6a3LQlIkwDgEXqecgWsgK2ugvuMAG6b/sw5955fJq0JmF+MyY+Bl/C9SVsT0HW/t0P2Reicuy9tkANWU8C8w66UBtPeJzkUQAEUQAEUQAEUQAEUQAEUQAEUQAEUkL2s7EMBFEABDMMwDMNcPB83kSRf5j/IpQAAAABJRU5ErkJggg==") left top no-repeat;
}

#fullScreener_home.unactive{
	opacity:0.3;
	cursor:default;
}
/* Buttons */

/* Supported */
#fullScreener_supported{
	position:absolute;
	left:24px;
	bottom:-15px;
	width:166px;
	height:15px;
}
/* Supported */

#fullScreener_search{
	position:relative;
	z-index:10000;
	margin:10px 36px 0px 160px;
	border-radius:5px;
	border:1px solid #cecfd4;
	padding:3px 5px 3px 25px;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZQTFRF////v7+/f39/9/f3h4eHx8fH39/fw8PDt7e3p6enl5eXj4+P6+vr19fX+/v7z8/P09PT8/Pzr6+vkZGRu7u77+/vs7Ozy8vLra2tubm53d3d4+Pj5+fnqamp7e3tfX19mZmZg4ODSxolRAAAAJhJREFUeNpUj8cCwyAMQ2VjhxESMrvn//9kDe2lHAzPIMkAgKOemXtyaKuTZzjcSxDpGvJ69mXIeCS2hpNYiIZhBHQVBxXniciPGP32VqQAQ53t5aSvBNOoDs3pRhtXzn5uQRMtjZE17+Y3K3HVm1SJrraHVP3tUCOKZWvNNz4aT4j1ruPFqpLfF/4OLBIuMZ5+8///7yPAAKx5BUPkMrZUAAAAAElFTkSuQmCC") 5px 5px no-repeat #ffffff;
	font-family:Calibri, sans-serif;
	font-size:16px;
	color:#000000;
}
#fullScreener_newtab{
	position:absolute;
	z-index:10000;
	top:10px;
	right:8px;
	margin:0px 0px 0px 0px;
	cursor:pointer;
	width:23px;
	height:23px;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAALUlEQVRIx2NgGAW0Ao8fP/4Pw6OWjFoySC1BNohcPIIsGU1do5YMY0tGwfABAHVUVBgbQI71AAAAAElFTkSuQmCC") left top no-repeat;
}
#fullScreener_closetab{
	position:absolute;
	z-index:10000;
	top:0px;
	right:-25px;
	margin:0px 0px 0px 0px;
	cursor:pointer;
	width:25px;
	height:25px;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK5JREFUeNrs1VEKgzAMBuBGxWsJHmgwdlNh4CW8gLDVBFLQmV/F1r3UQOiDkq/aRMl7766Owv0hbiRTpEIXiEiWmnM8UKfk/KBx2HoSATrOdgdoON8K2SG6lRoCDFoIAUPYCKy1g2xBCyAWsaAVkAKZQw8LSIVIPDm/urorkPCKXqgZYpHfMzCbIQZpwBmsoLMIAkzoDCIT3x+Y+Fbvq1EtQp2U8ttF9z8+T2QSYAChFZbMkRagtQAAAABJRU5ErkJggg==") left top no-repeat;
}


#fullScreener_Tabs_Table{
	border-collapse:collapse;
	position:fixed;
	left:0px;
	top:0px;
	z-index:10000;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	display:none;
	border:none;
	background:transparent;
	line-height: 1.3;
}
#fullScreener_Tabs_Table td{
	margin:0px;
	padding:0px;
	text-align:center;
	border:none;
	background:transparent;
	vertical-align:middle;
}
#fullScreener_Tabs{
	position:relative;
	margin:0px 0px 0px 0px;
	display:block;
	text-align:left;
	background: rgba(0,0,0,0.7);
	width: 45vw;
	margin: 0 auto;
	font-size: 1.1vw;
	overflow: hidden;
}
#fullScreener_Tabs_Bg{
	display: none;
	/*
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.7;
	*/
}
#fullScreener_Tabs ul{
	position:relative;
	margin:0.5vw;
	padding:0.5vw;
	list-style:none;
	color:#eeeeee;
	font-family:Helvetica, Calibri, sans-serif;
	overflow:auto;
	overflow-x:hidden;
	height:80vh;
	background:none;
	-webkit-font-smoothing: antialiased;
}
#fullScreener_Tabs ul li{
	position:static;
	margin:0;
	padding:0.3vw 0.5vh 0.3vw 2vw;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	cursor:default;
	height:auto;
	background:none;
	color:#eeeeee;
}
#fullScreener_Tabs ul li.fullScreener_hover, #fullScreener_Tabs ul li:hover{
	background:#ffffff;
	color:#333333;
}
#fullScreener_Tabs ul li#fullScreener_ActiveTab{
	background:#ababab;
	color:#333333;
}
#fullScreener_Tabs ul li#fullScreener_ActiveTab.fullScreener_hover, #fullScreener_Tabs ul li#fullScreener_ActiveTab:hover{
	background:#cccccc;
	color:#333333;
}
#fullScreener_Tabs .fullScreener_favicon{
	width:1.3vw;
	height:1.3vw;
	position:absolute;
	margin:0.02vh 0px 0px -1.6vw;
	background-size: 1.3vw 1.3vw;
}




#fullScreener_tree{
	background:#4d4d4d;
	padding:10px;
}
#fullScreener_tree ul{
	margin:0px 5px 0px 10px;
	padding:0px;
	list-style:none;
}
#fullScreener_tree ul li{
	margin:0px 5px 0px 0px;
	padding:0px;
}
#fullScreener_tree ul li .toggler{
	color:#ffffff;
}
#fullScreener_tree ul li.category .toggler{
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 10px;
	cursor:pointer;
	font-family:Calibri, sans-serif;
	font-size:13px;
}
#fullScreener_tree ul li.category.close>ul{
	display:none;
}
#fullScreener_tree ul li.category.open>ul{
	display:block;
}
#fullScreener_tree ul li.category.close>.toggler{
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////////VXz1bAAAAAJ0Uk5T/wDltzBKAAAAGUlEQVR42mJgZGBkBGIGBgjJgGADxQECDAABCgAR6fPJwwAAAABJRU5ErkJggg==") left 6px no-repeat;
}
#fullScreener_tree ul li.category.open>.toggler{
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////////VXz1bAAAAAJ0Uk5T/wDltzBKAAAAF0lEQVR42mJgBAEGCGAEY0YoAgKAAAMAAPYAETwm6AMAAAAASUVORK5CYII=") left 6px no-repeat;
}
#fullScreener_tree ul li a{
	font-family:Calibri, sans-serif;
	font-size:13px;
	color:#ffffff;
	text-decoration:none;
}
#fullScreener_tree ul li a:hover{
	text-decoration:underline;
}

#fullScreener_Tabs_Form{
	display: block;
	margin:0.5vw;
	padding:0.5vw;
}
#fullScreener_Tabs_Form input{
	margin: 0;
	padding: 0;
	background: transparent;
	font-size: 1.1vw;
	color: #ffffff;
	border: none;
	width: 100%;
}
#fullScreener_Tabs_Form input:focus{
	outline: none;
}